<link rel="stylesheet" href="~/Content/bootstrap.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/simpleLightbox.css">
<link rel="stylesheet" href="~/Content/nice-select.css">
<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/responsive.css">
@using Vseller.Models
@model ProductoDetalleProducto

@{
    string Cambio;
}
@if (ViewBag.Cambio == true)
{
    Cambio = "Editar";
}
else
{
    Cambio = "Crear";
}


@using (Html.BeginForm(Cambio, "BackOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Nombre</p> @Html.TextBoxFor(model => model.nombre) @Html.ValidationMessageFor(model => model.nombre)<br />
    @Html.DropDownListFor(model => model.fkTipo, new SelectList(ViewBag.Tipos, "Id", "desc"), "Ingrese tipo") <br />
    <p>Precio</p> @Html.TextBoxFor(model => model.precio) @Html.ValidationMessageFor(model => model.precio)<br />
    @Html.TextBoxFor(model => model.foto, new { type = "file" })
    <p>Usuario</p> @Html.TextBoxFor(model => model.usuario) @Html.ValidationMessageFor(model => model.usuario)<br />
    for (int i = 0; i < ViewBag.Detalles.Count; i++)
    {
        <p>@BD.TraerDetalleporId(ViewBag.Detalles[i].fkDetalle).Desc</p>
        @Html.TextBoxFor(model => model.Detalles[i].descripcion)<br />
    }

    <input type="submit" value= Cambio>
}